<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Frontend Page</title>
<link rel="stylesheet" href="leaderDash.css">
</head>
<body>
<div class="container">
    <span class="top-right" id="placeholder">Welcome <%= name %> of <%= team %> <br><div><form method="post" action="/logout"><a">      </a> <button>Logout</button></form></div></span>
    <a id="only" href="/registerUser">Add users</a>
</div>
<div>
    <% for(let i of members){ %>
        <% if(i){ %>
        <div>
        Name: <%= i.username %><br>
        Email: <%= i.email %>
        <form action="/deleteUser/<%= i._id %>?_method=DELETE" method="POST">
        <button>Delete user</button>
        </form>
    </div><br><br>
        <% } %>
        <% } %>
</div>
</body>
</html>